<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Consign
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col sizeLg="6" offsetLg="3" sizeMd="12" sizeSm="12" sizeXs="12">
      <ion-card>
        <form [formGroup]="quoteForm" (ngSubmit)="submit()">
          <ion-item>
            <input placeholder="Enter Pickup location" style="width: 100%;"  ngx-google-places-autocomplete
            [options]='options' formControlName="pickup" #placesRef="ngx-places"
            (onAddressChange)="handleAddressChangePickup($event, 'p')" />
          </ion-item>
          <ion-item>
            <input placeholder="Enter Drop Location" style="width: 100%;" formControlName="drop" ngx-google-places-autocomplete
            [options]='options' #placesRef="ngx-places"
            (onAddressChange)="handleAddressChangeDrop($event, 'd')" />
          </ion-item>


          <ion-item (click)="openCamera()" id="item">
            <ion-thumbnail *ngIf="Url" slot="end">
              <img [src]="Url | async" alt="" srcset="">
            </ion-thumbnail>
            <ion-label>Upload Image</ion-label>
            <ion-icon slot="end" name="camera"></ion-icon>

          </ion-item>

              
          <ion-button block color="primary" type="submit" [disabled]="quoteForm.invalid">
            Submit
          </ion-button>
        </form>
      </ion-card>
    </ion-col>
    <ion-col sizeLg="6" offsetLg="3" sizeMd="12" sizeSm="12" sizeXs="12">
      <h5>Order Data will Appear here.</h5>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
